@model List<SQLInjection.Database.BestMovie>

@{
    ViewData["Title"] = "Home Page";
}

    <center>
        <h3>Search the best movie of an actor</h3>
        <br />
        <div style="width:50%">
            <form id="form" name="form" action="/Home/Search" method="get">
                <div class="form-row">
                    <div class="col-11">
                        <input type="text" value="@ViewBag.Actor" name="actor" class="form-control" id="actor" placeholder="Actor">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </center>

<br/>
<br />

<table class="table table-hover table-striped">
    <caption>@Model.Count movies listed</caption>
    <thead>
        <tr>
            <th scope="col">Movie Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Actor</th>
            <th scope="col">Director</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="table-dark">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td class="table-warning">
                    @Html.DisplayFor(modelItem => item.Actor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
            </tr>
        }
    </tbody>
</table>
